/* main body*/
*{
text-indent: 2;
font-size: medium;
font-weight: light;
    font-family: Lexend Exa,'Times New Roman', Times, serif; 
    font-style:normal;
}
body {
    border-style: solid;
    border-width: 1px;
    background-color: #fffbff;
    font-family: Lexend Exa,'Times New Roman', Times, serif;
    border-color: #ebd8d0;
}
footer{
   text-align: center;
  display: fixed;
  clear:both;
  
}
/* main Header*/
h2{
    margin-top: 4%;
    color:#e5bb94 ;
   

}

h5{
  font-weight: bold;
  font-style: italic;
}

header {
    background-color: var(--primary-color);
    border-style: solid;
    border-width: 5px;
    border: 8px;
    padding: 50px;
    border-color: #dad2bc;
}

header img {
    display: block;
    float: left;
    border-radius: 60%;
    margin-bottom: 50px;



}

header img.icon {
    display: block;
    float: right;
    border-radius: 5px;
}

header h1 {
     padding: 7px ;
      text-indent: 3%;
      text-align:center;
      margin-right:60%;
      font-size: x-large;
   
      top: 40px;
}
/*
header p{
    text-align:right;
	 margin-top: 200px;
         margin-bottom: 400px;
	  letter-spacing: 2px;
}*/

.info{
    text-align: justify;
}
.signout{
  overflow: hidden;
  text-align: left;
  position: relative;
  margin: 0px 100px;
  height: 60px;
  background-color: pink;
  color: blue;
  font-family: Arial;
  
}
.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}	
   
/* Style the list */
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
/* main Nav*/


a {
    background-image: linear-gradient( to right, #54b3d6, #54b3d6 50%, #000 50% );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;

}
    a:before {
        content: '';
        background: #61a5c2;
        display: block;
        position: absolute;
        bottom: -3px;
        left: 0;
        width: 0;
        height: 3px;
        transition: all 0.3s ease-in-out;
		
    }

    a:hover {
        background-position: 0;
    }

        a:hover::before {
            width: 70%;
        }
   /* sign out  */
a img{
    display: block;
    margin-left: 80%;
    margin-bottom: 0px;
}
.addP{
    background-color:#e5bb94;
    width:110px;
height: 40px;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

/* main Div*/

 footer div {
    border-style: solid;
    border-width: 1px;
    padding: 1%;
    border-color: #ebd8d0;
}

div img{
    display:block;
    float:left;
 
}
div h2,p2,h4{
    text-align:center;

}

.p2{
    text-align:center;
}


.filter-toggle {
   
    justify-content:left;
    
    background-color: #ebccad;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #777;
    margin-bottom: 0px;

}


table {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
    border-collapse: collapse;
    
}

table, th, td {
    border: 1px solid black;
    text-align: left;
    border-collapse: collapse;
    margin-left: 20%;
    margin-right: 40%;
    
}

    table thead, td {
        width: 120px;
        height: 40px;
        text-align: center;
        background-color: 	#e6ccb3;
        
    }
        table thead td {
            font-weight: bolder;
        }

    

    table tbody td {
        background-color: white;
    }

    table th {
        width: 140px;
        height: 40px;
        text-align: center;
        background-color: 	#e6ccb3;
    }
    table {
        border:none;
    }

/*applicant inf*/
  
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:25px;
    min-height: 100vh;
    background: linear-gradient(90deg,  #e5bb94 60%, #f1f8f4 40.1%);
  }
  
  .container form{
    padding:20px;
    width:700px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  .container form .row{
    display: flex;
    flex-wrap: wrap;
    gap:15px;
  }
  
  .container form .row .col{
    flex:1 1 250px;
  }
  
  .container form .row .col .title{
    font-size: 20px;
    color:#333;
    padding-bottom: 5px;
    text-transform: uppercase;
  }
  
  .container form .row .col .inputBox{
    margin:15px 0;
  }
  
  .container form .row .col .inputBox span{
    margin-bottom: 10px;
    display: block;
  }
  
  .container form .row .col .inputBox input{
    width: 100%;
    border:1px solid #ccc;
    padding:10px 15px;
    font-size: 15px;
    text-transform: none;
  }
  
  .container form .row .col .inputBox input:focus{
    border:1px solid #000;
  }
  
  .container form .row .col .flex{
    display: flex;
    gap:15px;
  }
  
  .container form .row .col .flex .inputBox{
    margin-top: 5px;
  }
  
  .container form .row .col .inputBox img{
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
  }
  
  .container form .submit-btn{
    width: 100%;
    padding:12px;
    font-size: 17px;
    background-color: var(--primary-color);
    color:#fff;
    margin-top: 5px;
    cursor: pointer;
  }
  
  .container form .submit-btn:hover{
    background: #cab38b;
  }
  
.details {
  justify-content:left;
    
    background-color: #ebccad;
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #777;
    margin-bottom: 0px;
}




.propic {
  justify-content:left;
 
}



div.theme {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  
  justify-content:center;
}

div.cont {
  text-align: center;
  padding: 10px 20px;
}



/* breadcrumbs*/

/* Style the list */
ul.breadcrumb {
  padding: 10px 16px 10px 16px;
  list-style: none;
  background-color: #eee;
   justify-content: center;
  align-items: left;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: 8px;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color:#e6ccb3;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}



/*************** Add new proprity**************/


.fieldsetAdd{
background-color: white;
}


/***********************************Sign up  and addnewPro**********************************/
#my-form {
    display: flex;
    flex-direction: column;

    margin-top: var(--spacing-md);
}

/*submit of sign-up  and addnewpro*/
submit-btno{
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    margin-top: var(--spacing-md);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


label {
    display: block;
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    font-weight: bold;
    margin-bottom: var(--spacing-xs);
}

button:hover {
    background-color: var(--secondary-color);
}


.container2 {

    max-width: 800px;
    margin: 10% auto;
    padding: var(--spacing-lg);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
}

:root {
    --spacing-xs: 5px;
    --spacing-sm: 10px;
    --spacing-md: 20px;
    --spacing-lg: 40px;
    --base-font-size: 16px;
    --modular-scale: 1.25;
    --primary-color: #e5bb94;
    --secondary-color: #ebd8d0;
    --background-color: white;
    --text-color: #333333;
}


html {
    box-sizing: border-box;
}



body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: var(--base-font-size);
    line-height: 1.5;
    background-color: var(--background-color);
    color: var(--text-color);
}

header {
    background-color: var(--primary-color);
    border-style: solid;
    border-width: 1px;
    border: 1%;
    padding: 3%;
    border-color: #dad2bc;
}

header img {
    display: block;
    float: left;
    border-radius: 60%;
    margin-bottom: 50px;
    float: left;



}

header img.icon {
    display: block;
    float: right;
    border-radius: 5px;
}

header h1 {
    padding: 7px;
    text-indent: 3%;
    text-align: center;
    margin-right: 60%;
    font-size: x-large;

    top: 40px;
}

header p {
    text-align: right;
    margin-top: 300px;
    letter-spacing: 2px;
}
.info {
    text-align: justify;
}

.signout {
    margin-top: 7px;
    color: var(--secondary-color);
}

a {
    color: var(--text-color);
}


/**h1 for Ash*/
.ash {
    font-size: calc(var(--base-font-size) * var(--modular-scale) * var(--modular-scale) * var(--modular-scale));
    font-weight: bold;
    margin-bottom: var(--spacing-md);
    text-align: center;
}

label {
    display: block;
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    font-weight: bold;
    margin-bottom: var(--spacing-xs);
}


#my-form {
    display: flex;
    flex-direction: column;

    margin-top: var(--spacing-md);
}

input {
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

.AddnewS {
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    padding: var(--spacing-sm);
    margin-bottom: var(--spacing-sm);
    width: 100%;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

}

AddnewA {
    width: 100%;
}

button {
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    margin-top: var(--spacing-md);
    padding: var(--spacing-sm) var(--spacing-md);
    border-radius: 5px;
    border: none;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.categ{
   isplay: block;
    font-size: calc(var(--base-font-size) * var(--modular-scale));
    font-weight: bold;
    margin-bottom: var(--spacing-xs);
}



/****************************end Sign-up********************************/